@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* font-family: "Work Sans", sans-serif; */
* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}

#hero-section {
  background-image: linear-gradient(
      180deg,
      rgb(16, 16, 16) -19.5%,
      rgba(16, 16, 16, 0) 100%
    ),
    url("assets/hero-bg.png");
  height: 705px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* color: white; */

  display: flex;
  align-items: center;
  justify-content: center;
}

#hero-section .hero-info {
  /* background-color: black; */
  width: 767px;
  /* text-align: center; */
}

#hero-section .hero-info .subtitle {
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.8;
}

#hero-section .hero-info .title {
  color: rgb(255, 255, 255);

  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  /* letter-spacing: 0%; */
  text-align: center;
}

#hero-section .hero-info .short-description {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;

  margin-top: 28px;
  margin-bottom: 24px;

}

.btn-primary {
  justify-content: center;
  align-items: center;
  padding: 15px 24px 15px 24px;
  border-radius: 8px;
  background: rgb(82, 195, 3);
  border: none;
  color: white;
  font-weight: 600;
}

.btn-container {
  text-align: center;
  /* background-color: wheat; */
}

/* card box property */
#card-box {
  width: 1016px;
  margin: 50px auto;
  /* border: 2px solid black; */
}

#card-box .subtitle {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: center;
  margin: 16px 0px;
}

#card-box .title {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;

  margin-bottom: 20px;
}

.card-container {
  /* background: #000; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
}

.card .image-box {
  width: 300px;
  /* border: 1px solid green; */
}

.card .image-box img {
  width: 100%;
}

.card .shop {
  color: rgb(16, 16, 16);
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;

  border-radius: 8px;
  background: #52c30326;
  padding: 12px 28px;
}

.card .offer {
  font-size: 30px;
  line-height: 35px;
}

.card .food-info {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
}
